@media (max-width: 1024px) {
    body {
        background: teal;
    }
    #fp-nav,#main-logo,#social-icons, .attribution, .scroll-arrow, .testimonial, .sign-up-button {
        display: none;
    }

    .top-nav    {
        display: inline-block;
        position: fixed;
        width: 100%;
        height: 60px;
        background-color: navy;
        padding: 10px;
        z-index: 100;
    }
    .top-nav .logo {
        margin: 0 16px;
        height: 100%;
    }
    .top-nav button {
        float: right;
        text-transform: uppercase;
        height: 100%;
        line-height: 1;
    }
}

@media (max-width: 600px) {

    div #main-logo {
        margin-left: 140px;
        top: 7%;
    }

    .wrap h1, .wrap p {
        text-align: center;
        width: 900px;
        padding: 0 150px;
    }

    .wrap h1, .wrap p {
        width: 760px;
        padding-right: 200px;
    }
    .box {
        font-size: 14px;
    }

    div #main-logo {
        margin-left: 0px;
    }

    .wrap h1, .wrap p {
        width: 600px;
        padding: 0 50px;
    }
    .box {
        font-size: 14px;
        line-height: 1.5;
    }

    div #main-logo {
        margin-left: 0px;
    }

    .wrap h1, .wrap p {
        width: 500px;
        padding: 0 25px;
    }

    .section .wrap {
        margin-top: -220px;
    }

    .wrap h1 {
        font-size: 23px;
    }

    div #main-logo {
        padding-right: 35px;
    }

    .wrap h1, .wrap p {
        width: 100%;
        padding: 0 50px 0 0px;
    }

}

