@media screen and (max-width: 1080px ){
        #fp-nav,#social-icons, .attribution{
        display: none;
    }
}

@media screen and (max-width: 700px ), screen and (max-height: 700px) {
    body {
        background: rgb(55,59,84);
        text-color: white;
    }
    #fp-nav,#main-logo,#social-icons, .attribution, .scroll-arrow, .testimonial, .sign-up-button {
        display: none;
    }

    .top-nav    {
        display: inline-block;
        position: fixed;
        width: 100%;
        height: 60px;
        background-color: rgb(39,40,57);
        padding: 10px;
        z-index: 400;
    }
    .top-nav .logo {
        margin: 0 16px;
        height: 100%;
    }
    .top-nav .top-sign-up-button {
        float: right;
        text-transform: uppercase;
        height: 100%;
        line-height: 1;
    }

    /*--- = Structure  */
    .wrap   {
        width: 100%;
    }

    .wrap h1, .wrap p {
        text-align: center;
        width: 900px;
        padding: 0 150px;
    }

    .wrap h1, .wrap p {
        width: 760px;
        padding-right: 200px;
        color: white !important;
    }
    .box {
        width: 100%;
        font-size: 14px;
        padding: 0 12px;
    }

    div #main-logo {
        margin-left: 0px;
    }

    .wrap h1, .wrap p {
        width: 600px;
        padding: 0 50px;

    }
    .box {
        font-size: 14px;
        line-height: 1.5;
    }

    div #main-logo {
        margin-left: 0px;
    }

    .wrap h1, .wrap p {
        width: 500px;
        padding: 0 25px;
    }

    .wrap h1 {
        font-size: 23px;
    }

    div #main-logo {
        padding-right: 35px;
    }

    .wrap h1, .wrap p {
        width: 100%;
    }

    /*--- = Mockups  */

    .mockups    {
        position: fixed;
        width: 90%;
        max-height: 100%;
        height: auto;
       right: 5%;
        top: 0%;
        z-index: 1;
        bottom: 0px;
    }
    .mockups #phone-frame {
        background: url(../images/iphone-black-mockup.png) top no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    .mockups .section-image {
        width: 85%;
        height: 100%;
        position: absolute;
        margin-top: 25%;
        margin-left: 7.5%;
        top: 0;
        left: 0;
    }

    .col-center .wrap .box{
        bottom: -98vh;
        padding-bottom: 60px;
        position: absolute;
        background-color: rgba(39,40,57, .95);
        z-index: 100;
    }
}

